<div class="content">
  <div class="box">
    <label for="">Название фильма:</label>
    <input type="text" [(ngModel)]="movieTitle">
  </div>
  <div class="box">
    <label for="">Год выхода:</label>
    <input type="number" [(ngModel)]="year">
  </div>
  <button (click)="send()">Отправить</button>
</div>
<div [class]="isVisible ? 'response' : 'response-block'">
  <img src="{{srcImg}}" alt="">
  <div class="movie-info">
    <p><b>Название фильма:</b> {{name}}</p>
    <p><b>Дата выхода:</b> {{released}}</p>
    <p><b>Рейтинг:</b> {{rating}}</p>
    <p><b>Время:</b> {{runTime}}</p>
    <p><b>Режиссер:</b> {{director}}</p>
    <p><b>В ролях актеры:</b> {{actors}}</p>
    <p [class]="hasDescriptionMore ? 'long-description' : 'short-description'"><b>Описание:</b> {{description}}</p>
    <span class="more" (click)="more()"><i [class]="hasDescriptionMore ? 'fa-solid fa-angle-up' : 'fa-solid fa-ellipsis'"></i></span>
  </div>
</div>
<p [style.display]="isShowError ? 'block' : 'none'">{{error}}</p>
